# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
mreddi/
env/
venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data & logs
*.log
data/
db/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
